= hidden_field_tag 'c_user_id', current_user.id
.row.current_user
  -if message.msg_type == "text"
    %div.col-12.mb-2
      %span
      %span.other_user_text.float-right= message.message
      %p.float-right{style: 'font-size:11px'}=message.created_at.strftime("%d/%m/%Y - %R")
  - else
    %div.col-12.mb-2
      %span.float-right= image_tag message.avatar.url(:medium), alt: 'image', height: '250', width: '300', class: 'img img-thumbnail'
      %p.float-right{style: 'font-size:11px'}=message.created_at.strftime("%d/%m/%Y - %R")
.row.other_user
  -if message.msg_type == "text"
    %div.col-12.mb-2
      %span.current_user_text= message.message
      %p{style: 'font-size:11px'}=message.created_at.strftime("%d/%m/%Y - %R")
  -else
    %div.col-12.mb-2
      %span= image_tag message.avatar.url(:medium), alt: 'image', height: '250', width: '300', class: 'img img-thumbnail'
      %p{style: 'font-size:11px'}=message.created_at.strftime("%d/%m/%Y - %R")
= hidden_field_tag 'c_channel_id', @channel.id