
-if flash[:notice].present?
  %div.alert.alert-success
    %span=flash[:notice]
-if flash[:alert].present?
  %div.alert.alert-danger
    %span=flash[:alert]
%h1 Users

%table.table.table-bordered.table-hover
  %thead.bg-success.text-white
    %tr
      %th ID
      %th Name
      %th Email
      %th{colspan: 3} Actions
  %tbody
    -@users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td= link_to "Edit", edit_user_registration_path
        %td= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to "View", user_path(user)
        %td.hidden
          = text_field_tag "channel",'', class: 'channel_field'
          = button_tag "X", onclick: 'hide_channel_field(this)'
        -# %td= button_tag "+", class: 'add-to-channel', onclick: 'display_channel_field(this)'

:javascript
  function display_channel_field(this_element){
    channel_field = $(this_element).parent().prev();
    $(this_element).parent().addClass('hidden');
    $(channel_field).removeClass('hidden');
  }
  function hide_channel_field(this_element){
    td = $(this_element).parent();
    $(td).addClass('hidden');
    $(td).next().removeClass('hidden');
  }